body{
	background-color: #F7EEE9;
	background-image: url("../img/product3_bg.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	/* background-attachment: fixed; */
	background-position: top right;

}


.content {
display: block;
position: relative;
float: left;
max-width: 30%;
height: 40em;
top: 5em;
left: 23%;


}

.description{
  max-width: 40em;
}

#footer {
	top:70em;

}
