@media (max-width: 1185px) {
	.pic1 {
		display:none;
	}
}

@media (max-width: 1100px) {
	#footer {
		top:1060px;
	}
}

@media (max-width: 419px) {
	#footer {
		top:1200px;
	}
}


@media (max-width: 365px) {
	#footer {
		top:1200px;
	}
}