
.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 1651px) {
.container {
	margin-left: 25%;
}
}

@media (max-width: 1513px) {
	.container {
width: 65%;
margin-left: 20%;

	}
	.item1 {
		min-width: 6em;
	}
	.item2 {
		min-width: 6em;
	}
	.item3 {
		min-width: 6em;
	}
	.item4 {
		min-width: 6em;
	}
	.item5 {
		min-width: 6em;
	}
	.item5 {
		min-width: 6em;
	}
	.item5 {
		min-width: 6em;
	}
}

@media (max-width: 989px) {

.container {
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-top: 3em;
}

.item1 {
	min-width: 13em;
}
.item2 {
	min-width: 13em;
}
.item3 {
	min-width: 13em;
}
.item4 {
	min-width: 13em;
}
.item5 {
	min-width: 13em;
}
.item5 {
	min-width: 13em;
}
.item5 {
	min-width: 13em;
}

.dropdown {
		margin-top: 0em;
}

.item2 {
	height: 4em;
}

.item4 {
	line-height: 1em;
	height:1em;
}

.kclogo {
margin-left: 0%;

}

.logoImage {
width: 10%;
height: auto;
display: block;;
margin-left: auto;
margin-right: auto;
}

#footerlinkleft {
	left:40%;
}

#footerlinkright {
	left:55.5%;
}

body{
	background-position: bottom center;
}

@media (max-width: 989px) {
	body {
	background-image: none;
}
}

@media (max-width: 600px) {
	#footerlinkleft {
		left:35%;
	}

	#footerlinkright {
		left:57%;
	}

}

@media (max-width: 450px) {
.logoImage {
	width: 15%;
	height: auto;
}

}

@media (max-width: 400px) {
	#footerlinkleft {
		left:30%;
	}

	#footerlinkright {
		left:57%;
	}

}
