body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 2.2vmin; 
	color: black;
	padding: 1em;
}

a {
	color: white; 
	text-decoration:none;
}


a:visited {
	color: white;
}


a:active, a:hover {
	color: #6E6E6E; 
	text-decoration: none;
}

#Content a:link {color: #1C1C1C;}
#Content a:visited {color: #1C1C1C;} 
#Content a:hover{
  color: #6E6E6E;
}

#buttons a:link {color: white;}
#buttons a:visited {color: white;} 
#buttons a:hover{
  color: #6E6E6E;
}

#pagetop {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:101px;
	z-index:0;
	padding:20px;
	border: none 2px solid;
	font-size: 0.7em; 
	color: white;
	text-align:center;
	background-color:#111111;
}

.logo {
	position:absolute;
	top:100px;
	left:10.5%;
	z-index:2;

}

.header-img {
	position:absolute;
	top:100px;
	left:0px;
	width:100%;
	height:174px;

}

#City {
	position:absolute;
	top:274px;
	left:10.5%;
	width:15%;
	min-height: 60px;
	height:auto;
	z-index:5;
	padding:20px;
	border: none 2px solid;
	color: white;
	text-align:center;
	background-color:#333333;

}

#OnlineServices {
	position:absolute;
	top:274px;
	left:26.5%;
	width:15%;
	min-height: 60px;
	height:auto;
	z-index:1;
	padding:20px;
	border: none 2px solid;
	color: white;
	text-align:center;
	background-color:#333333;

}

#EventsAndActivities {
	position:absolute;
	top:274px;
	left:42.5%;
	width:15%;
	min-height: 60px;
	height:auto;
	z-index:1;
	padding:20px;
	border: none 2px solid;
	color: white;
	text-align:center;
	background-color:#333333;

}

#CityHall {
	position:absolute;
	top:274px;
	left:58.5%;
	width:15%;
	min-height: 60px;
	height:auto;
	z-index:1;
	padding:20px;
	border: none 2px solid;
	color: white;
	text-align:center;
	background-color:#333333;

}

#Blank {
	position:absolute;
	top:274px;
	left:74.5%;
	width:15%;
	min-height: 60px;
	height:auto;
	z-index:1; 
	padding:14px;
	border: none 2px solid;
	background-color:#333333;

}

#searchform { width: 90%; }

#sidenav {
	position:absolute;
	top:370px;
	left:10.5%;
	width:15%;
	height:1020px;
	z-index:1;
	padding:0px;
	text-align:center;
	border: none;
	color: white;
	background-color:#333333


}

#sidenav2 {
	display:none;
	position:absolute;
	top:360px;
	left:10.5%;
	width:79%;
	height:100px;
	z-index:1;
	padding:0px;
	text-align:center;
	border: none;
	color: white;
	background-color:#333333

}

#sidenavtext2 {
	position:relative;
	top:-10%;
	left:-13%;
	z-index:1;
	padding:15%;
	text-align:left;
	border: none;
	color: white;

}

#sidenavtext {
	position:relative;
	top:0px;
	left:5%;
	z-index:1;
	padding:15%;
	text-align:left;
	border: none;
	color: white;

}

.pic1 {
	position:relative;
	width:65%;

}

#Content {
	position:absolute;
	top:370px;
	left:26.2%;
	width:64%;
	height:30px;
	z-index:1;
	padding:20px;
	border: none 2px solid;
	background-color:#FFFFFF;

}

#buttons {
	text-align:center;
}

#footer {
	position:absolute;
	top:1435px;
	left:0px;
	width:100%;
	height:100px;
	z-index:1;
	padding:20px;
	border: none 2px solid;
	font-size:0.8em;
	color: white;
	text-align:center;
	background-color:#111111;

}

#footerlinkleft {
	position:absolute;
	left:44%;
	top:23px;
	text-align:left;
}

#footerlinkright {
	position:absolute;
	left:51.5%;
	top:23px;
	text-align:left;
}

hr {
	width:.1em;
	height: 4em;
	background:white;
	border: 0px;
}

.button {
        background-color: #444444;
        padding:12px;
        color: white;
    }