@media (max-width: 1597px) {
	#HomeOwnerGrant{
		margin-bottom: -9rem;
		margin-top: 7rem;
	}
}

@media (max-width: 1185px) {
	.pic1 {
		display:none;
	}
}

@media (max-width: 1100px) {
	#Content {
		left:0%;
		width:100%;
	}
	#HomeOwnerGrant{
		margin-top: 2rem;
		margin-left: 21rem;
	}
}

@media (max-width: 1007px) {
	#HomeOwnerGrant{
		margin-top: 2rem;
		margin-left: 21rem;
	}

	#footer {
		position:absolute;
		top:1350px;
	}
}

@media (max-width: 722px) {
	#footer {
		position:absolute;
		top:1820px;
	}

	#HomeOwnerGrant{
		position: absolute;
		top: 77rem;
		left: -20rem;
	}
}

@media (max-width: 605px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 79rem;
		left: -20rem;
	}
}

@media (max-width: 599px) {
	#footer {
		position:absolute;
		top:1850px;
	}

	#HomeOwnerGrant{
		position: absolute;
		top: 80rem;
		left: -20rem;
	}
}

@media (max-width: 536px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 81rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:1870px;
	}
}

@media (max-width: 496px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 83rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:1900px;
	}
}

/*@media (max-width: 483px) {
	#HomeOwnerGrant{
		float:right;
		position: relative;
		top: 9rem;
		left: 0rem;
		width: 30rem;
		margin-right: 14.3rem;
	}

	#TaxSales {
		clear:both;
	}

	#footer {
		position:absolute;
		top:1900px;
	}
/*

/* Tried to use relative positioning, but didn't work */

@media (max-width: 483px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 83rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:1900px;
	}
}

@media (max-width: 475px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 85rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:1960px;
	}
}

@media (max-width: 436px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 87rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:2010px;
	}
}

@media (max-width: 397px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 89rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:2040px;
	}
}

@media (max-width: 385px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 93rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:2080px;
	}
}

@media (max-width: 376px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 95rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:2130px;
	}
}

@media (max-width: 369px) {
	#HomeOwnerGrant{
		position: absolute;
		top: 97rem;
		left: -20rem;
	}

	#footer {
		position:absolute;
		top:2170px;
	}
}
