[class^='col-'] {
	float: left;
	padding: 0; 
	text-align: center; /* center the content in this block */
}

@media (max-width: 606px) {

	#Step1 {
		top:120px;
	}

	#Step2 {
		top:120px;
	}

	#Step3 {
		top:120px;
	}
}

@media (max-width: 360px) {

	#Step1, #Step2, #Step3 {
		top:130px;
		height:70px;
	}

}

@media (max-width: 365px) {	

	#Step1 {
		top:180px;
		width:33%;
		height:90px;
		left:0%;
		font-size:0.9em;
	}

	#Step2 {
		top:180px;
		width:33%;
		height:90px;
		left:34%;
		font-size:0.9em;
	}

	#Step3 {
		top:180px;
		width:34%;
		height:90px;
		left:67.9%;
		font-size:0.9em;
	}

	#formlabel {
		left:6%;
		width:40%;
	}

	#forms {
		top:25px;
		left:40%;
	}




	}

