#Step1 {
	position:absolute;
	top:100px;
	left:0.5%;
	width:31.5%;
	height:50px;
	z-index:2;
	padding:20px;
	border: none 2px solid;
	background-color:#AAAAAA;
	text-align:center;
}

#Step2 {
	position:absolute;
	top:100px;
	left:33.8%;
	width:31.5%;
	height:50px;
	z-index:2;
	padding:20px;
	border: none 2px solid;
	background-color:#63BDD6;
	text-align:center;
}

#Step3 {
	position:absolute;
	top:100px;
	left:67%;
	width:31.5%;
	height:50px;
	z-index:2;
	padding:20px;
	border: none 2px solid;
	background-color:#AAAAAA;
	text-align:center;

}

#buttons form{
	text-align:left;
	display: inline;
}

#buttons {
	margin-top: 1rem;
	text-align: left;
}

#ticketinfo {
	display: none;
}